{{ define "main" }} {{ .Content }}
<section>
  <h2>👋 Hi, I'm <strong>Xtring</strong> (Hyun Hwang)</h2>

  <div>
    <p>I'm into:</p>
    <ul>
      <li>
        🧑🏻‍💻 Front-end development that solves real problems and crafts beautiful
        user experiences
      </li>
      <li>🎸 Enjoying, playing, and getting lost in band music</li>
      <li>🏍️ Riding into the wind</li>
    </ul>

    <p>
      비즈니스의 문제를 풀어내고, 감각적인 UX/UI를 만들어내는 걸 즐깁니다.<br />
      음악과 다양한 시도 속에서 세상을 더 깊고 넓게 바라보는 눈을 키워가고
      있어요.
    </p>
  </div>

  <ul>
    <li>🏄‍♂️ 비즈니스 성장을 이끄는 제품을 만드는 데에 보람을 느껴요.</li>
    <li>💫 사용자에게 편안함을 주는 UX/UI를 고민하는 걸 좋아해요.</li>
    <li>🌐 사람과 사람을 연결하는 웹 기술에 매력을 느낍니다.</li>
    <li>📊 데이터를 잘 써서 재밌는 아이디어를 떠올리는 걸 즐겨요.</li>
    <li>🧪 최신 기술을 제품에 녹여내며 더 나은 경험을 만들고 싶어요.</li>
  </ul>

  <blockquote>
    <p>
      <em
        >“디자인에서의 완벽함은 더할 것이 없을 때가 아니라,<br />
        더 이상 뺄 것이 없을 때 완성된다.”</em
      >
    </p>
    <p>
      <small>
        — Perfection [in design] is achieved, not when there is nothing more to
        add,<br />
        but when there is nothing left to take away.<br />
        <cite>– Antoine de Saint-Exupéry</cite>
      </small>
    </p>
  </blockquote>
</section>
{{ end }}
